<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Emotion:</strong>
  <%= @team.emotion %>
</p>

<p>
  <strong>Sentiment:</strong>
  <%= @team.sentiment %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
