<p id="notice"><%= notice %></p>

  <p id="heading"><%= @host_name %></p>  
  <p id="heading" style='font-size: 25px;'>R E T R O S P E C T I V E</p>
  <p id="heading"><%= @team_name %></p>  

<%= form_for @action_item do |f| %>
  <%= f.text_field :content, :placeholder => "Speak your mind", :required => 'required' %>
  <%= f.submit "SHOUT" %>
  <%= content_tag(:br) %>
<% end %>  

<div id="stage">
  <div id="all-cards-div" >
    <div id="new-cards-div">
      </br>
      <div id=heading style><b>N E W &nbsp; C A R D S</b></div>
      <ul id="retro-cards-list">
        <!-- Cards come here -->
        <% @new_items.each do |item| %>
        <a data-toggle="popover" title="Suggestions" data-content=<% display_suggestions(item)%>>
          <div class="card" , id=<%=item.id %> >
            <li><%=   item.content %></li></br>
            <div class=analysis>
              <div class="sentiment"><%= item.sentiment %></div>
              <div class="emotion"><%= item.emotion %></div>
            </div>
          </div>
        </a>
        <% end %>
        <!-- Cards come here -->
      </ul>
    </div>

    <div id="old-cards-div">
      </br>
      <div id=heading><b>O L D &nbsp; C A R D S</b></div>
      <% @old_items.each do |item| %>
      <div class="card" , id=<%=item.id %>>
        <li><%=    item.content %></li>
        <div class=analysis>
          <div class="sentiment"><%= item.sentiment %></div>
          <div class="emotion"><%= item.emotion %></div>
        </div>
      </div>  
      <% end %> 
    </div>

  </div>
 
</div>
<footer>
   <p id="love">Handcrafted  with <span id="heart">♡</span> by HP &nbsp; . &nbsp; Powered by Rails</p>
</footer>
<a data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Toggle popover</a>